[merge]
	tool = kdiff3
[diff]
	guitool = kdiff3
[mergetool "kdiff3"]
	path = /usr/bin/kdiff3
	keepBackup = false
	trustExitCode = false
[difftool "kdiff3"]
	path = /usr/bin/kdiff3
	keepBackup = false
	trustExitCode = false
[push]
	default = simple
[core]
	editor = vi
